
#graph {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 100px;
  height: 100px;
}

li.new {
  list-style: none
}

span.attendee::after {
  content: ":"
}

span.flake-rate {
  margin: 0.5em
}

span.flake-rate::after {
  content: "% flake rate"
}

span.no-flake-rate {
  margin: 0.5em
}
span.no-flake-rate::after {
  content: "No data yet."
}

span.likelihood {
  margin: 0.5em;
}

span.likelihood::after {
  content: "% chance of poker";
}

span.attending {
  color: grey;
  margin: 0.5em
}

span.attending::before { content: "(" }
span.attending::after { content: " rsvp'd)" }

.hide {
  display: none;
}
