.nav {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
  
.title {
  font-weight: bold;
  font-size: 140%;
}

li.new {
  list-style: none
}

.history-chart {
  border-left: 1px solid;
  border-bottom: 1px solid;
  padding-left: 0.5em;
  padding-bottom: 0.25em;
  // TODO: history chart same width as rsvpd ct. + show attending + rsvp btn
  width: 12em; 
}

span.date::after {
  content: ":"
}

span.attendee::after {
  content: ":"
}

span.flake-rate {
  margin: 0.5em
}

span.flake-rate::after {
  content: "% flake rate"
}

span.no-flake-rate {
  margin: 0.5em
}
span.no-flake-rate::after {
  content: "No data yet."
}

span.likelihood {
  margin: 0.25em;
}

span.likelihood::after {
  content: "% chance of poker";
}

span.confidence::before {
  content: "with "
}

span.confidence::after {
  content: "% confidence"
}

.rsvpd { color: green }
.rsvpd::after { content: " (You're going)" }

span.attending-count {
  color: grey;
  margin: 0.5em
}

span.attending-count::before { content: "(" }
span.attending-count::after { content: " rsvp'd)" }

span.current-user::before { content: "Logged in as " }
span.current-user::after { content: "." }
span.no-current-user::before { content: "Please log in." }

.hide {
  display: none;
}
